body {
  background-color: rgb(246, 244, 244);
}
/*  1  */
.search-bar-sticky {
    position: sticky;
    top: 63px;
    z-index: 99; /* pour qu’elle reste au-dessus */
    background-color: rgb(250, 248, 248); /* pour cacher ce qu’il y a derrière */
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 5px;
  }

  /* Focus + style existant */
  .search-group:focus-within {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    border-radius: 0.375rem;
    background-color: #f8f9fa;
  }

  .search-group {
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    overflow: hidden;
  }

  .search-input {
    border: none;
    background: transparent;
  }

  .search-input:focus {
    box-shadow: none;
    background: transparent;
  }

  .search-addon {
    background: transparent;
  }

  .search-addon:focus {
    box-shadow: none;
  }

  /*   2  */
  .produit-img {
    width: 100%;
    height: 120px;
    object-fit: contain;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
  }

  .card {
    min-height: 150px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
  }

  .card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }

  .badge-nouveau {
    position: absolute;
    top: 10px;
    right: -40px;
    background-color: #f1ee43;
    color: rgb(29, 1, 104);
    font-size: 0.75rem;
    padding: 4px 40px;
    transform: rotate(45deg);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
  }
  .nom_prix {
    padding-left: 10px;
    padding-bottom: 3px;
    padding-top: 2px;
  }

  .badge-promo {
  position: absolute;
  top: 10px;
  right: -40px;
  background-color: #f585d7;
  color: rgb(20, 1, 73);
  font-size: 0.75rem;
  padding: 4px 40px;
  transform: rotate(45deg);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 10;
  }